input, select, option{
    background-color: gainsboro;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gainsboro;
    margin: 5px;
}

.error {
    background-color: red;
}

.btnVisible{
    visibility: visible;
}

.btnOff{
    display : 'none'
}